<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.lingnanlu.clientserverdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Local.BinderActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <service android:name=".Local.LocalService">
        </service>
        <service
            android:name=".RemoteMessager.MessengerService"
            android:process=":remote_messenger">
        </service>

        <activity android:name=".RemoteMessager.ActivityMessenger">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <service
            android:name=".RemoteAIDL.RemoteService"
            android:process=":remote_aidl"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".RemoteAIDL.AIDLActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
